<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Login</h1>

	<% if ( user ) { %>
		<h2>Saludos, camarada <%= user %></h2>
	<% } else { %>
		<h2>La cagaste crack</h2>
	<% } %>
</body>
</html>