<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Login</h1>

	<form action="/login" method="post">
		Username <input type="text" name="username">
		<br>
		Password <input type="password" name="password">
		<br>
		<input value="Entra" type="submit" name="envia">
	</form>
</body>
</html>