<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Login</h1>

	<form action="/register" method="post">
		Username <input type="text" name="username">
		<br>
		Password <input type="password" name="password1">
		<br>
		Confirm password <input type="password" name="password2">
		<br>
		<input value="Registra" type="submit" name="envia">
	</form>
</body>
</html>